# Env
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Data cache (tuỳ chọn — có thể bật nếu không muốn commit dữ liệu)
# data/
# report/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
